.ribbon {background-color: red;

margin: 0 0 0 0;
border-style: ridge;
border-width: 10px;
border-color: navy;
padding-top: 2px;
}

body {background-color: dodgerblue;
margin: 0;
}

h2, h3 {text-align:left;
margin: 15px;
}

h1 {color: white;
text-align: center;
margin: 10px;
}

p {font-family: verdana;
  font-size: 15px;
  margin: 15px;
}
table {margin: 15px;}
